-#  This file is app/views/movies/index.html.haml
%h1{:class=>"moviesHeader"} All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to "#{movie.title}", :controller => "movies",
          :action => "index", :sortBy => "title", :title_reader => movie.id
        %td= movie.rating
        %td= link_to "#{movie.release_date}", :controller => "movies", :action => "index",
          :sortBy => "release_date", :release_date_reader => movie.id
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td

= link_to 'Add new movie', new_movie_path

= form_tag movies_path, :id => "ratings_form", :method => :get do
  Include: 
  - @movies.all_ratings.each do |rating|
    = rating
    = check_box_tag("ratings[#{rating}]", 1, @active_ratings.include?(rating))
  = submit_tag 'Refresh', :id => "ratings_submit"